
  <div class="w3-container w3-display-middle">


    <div class="w3-card-4">

        <form class="content">
          <select>
            <option value="Oferta1">Oferta1</option>
          </select>
          <label>Id Offert:</label>
          <input type="text">
        </form>
        <div class="right">
          <label>Name:</label>
          <input type="text">
        </div>


      
        <table class="w3-table" style="margin-left: 2rem;margin-right: 2rem;width: 90%;">
          <tr>
            <th>Caracteristicas</th>
            <th>Nombre</th>
            <th>Precio</th>
          </tr>
          <tr>
            <td>111</td>
            <td>111</td>
            <td>11</td>
          </tr>
        </table>


    </div>
  </div>